@import "./../../../sass/components/base.scss";
#nonPaidUserLanding {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //background-image: url("./../../../../images/paid-user.jpg");
  width: 100%;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  .content {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px 50px;
    //margin-top: 40px;

    h2 {
      color: #fff;
    }

    h3 {
      color: #eb5733;
    }

    .user-profile {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      div{
        //width: 50%;
        padding: 50px 80px;
        cursor: pointer;
        p {
          font-size: 30px;
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 411px) {
  #nonPaidUserLanding {
    .content {
      h2 {
        margin-bottom: 10px;
      }
      .user-profile {
        div {
          padding: 40px;
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}