@import "./../../../sass/components/base.scss";

#profile {
  .profile-header {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //background-image: url("./../../../../images/paid-user.jpg");
    width: 100%;
    height: 182px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    h2 {
      text-align: center;
    }
  }
  .container {
    padding: 40px 35%;

    .sub-header {
      text-align: center;
      color: #2e3192;
      font-weight: 600;
    }
    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-content: flex-;
      justify-content: center;
      p {
        color: #2e3192;
        padding: 20px;
        font-weight: 600;
      }
      span {
        color: #eb5733;
        font-weight: 600;
      }

      .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30%;

        div {
          text-align: -webkit-center;
          color: #2e3192;
          font-weight: 600;
        }
      }
    }
  }
}

@media only screen and (max-width: 411px) { 
  #profile {
    .container {
      padding: 40px 5%;
    }
  }
}