.btn {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  border: 1px solid;
  border-radius: 0px;
  line-height: 38px;
  padding: 0 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease;
  cursor: pointer;
  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.btn-primary {
    border-color: #2e3192;
    background-color: #2e3192;
    color: #fff;
    //width: 221px;
    &:hover {
      transition: all 0.2s ease;
      background-color: darken(#23239b, 5%);
    }
  }

  &.btn-secondary {
    background-color: #fff;
    border-color: #5a6872;
    color: #3e3e40;
    &:hover {
      transition: all 0.2s ease;
      border-color: #5a6872;
      background-color: #5a6872;
      color: #fff;
    }
  }

  &.btn-danger {
    background-color: #fff;
    border-color: #a2172a;
    color: #a2172a;
    &:hover {
      transition: all 0.2s ease;
      border-color: #a2172a;
      background-color: #a2172a;
      color: #fff;
    }
  }

  &.btn-google {
    background: #E42D00;
    color: #fff;
    width: 221px;
  }

  &.btn-facebook {
    background: #4353A5;
    color: #fff;
    width: 221px;
  }

  // &.btn-logout {
  //   border-color: #ba6709;
  //   color: #ba6709;
  //   cursor: pointer;
  //   border-radius: 100px;
  //   background: #fff;
  //   width: 112px;
  //   &:hover {
  //     background-color: #2E231A;
  //     color: white;
  //   }
  // }
}
