@import "./../../../sass/components/base.scss";

#landing {
  //padding: 60px 35px;

  h2, h3 {
    text-align: center;
  }

  h2 {
    margin-bottom: 24px;
  }

  p {
    color: #767676;
    text-align: center;
  }

  .section-1 {
    padding: 40px 30%;
  }

  .video {
    text-align: center;
    background: linear-gradient(0deg, #f59a34, #ffffff);
    padding: 60px 10%;
    margin-bottom: 40px;
    iframe {
      width: 888px;
      height: 500px;
    }
  }

  .co-workers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 0px;
    div {
      width: calc(100% / 3);
      padding: 16px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .description {
        margin-bottom: 25px;
      }
      .designation {
        margin-bottom: 16px;
        font-weight: 600;
      }
    }

    .img {
      width: 120px;
      height: 120px;
      img {
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 411px) {
  #landing {
    //padding: 40px 25px;
    .section-1 {
      padding: 40px 10%;
    }

    .video {
      padding: 0px 10%;
      margin-bottom: 40px;
      iframe {
        width: 248px;
        height: 200px;
      }
    }

    .co-workers {
      flex-direction: column;
      div {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

@media only screen and (min-width: 770px) and (max-width: 1022px) {
  #landing {
    //padding: 40px 35px;
    .section-1 {
      padding: 40px 10%;
    }

    .video {
      padding: 0px 10%;
      margin-bottom: 40px;
      iframe {
        width: 478px;
        height: 400px;
      }
    }

    .co-workers {
      flex-direction: column;
      div {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}