@import "./../../../sass/components/base.scss";

#courseDetail {
  .course-detail-header {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("./../../../../images/header-image.jpg");
    width: 100%;
    height: 182px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    h2 {
      text-align: center;
    }
  }

  .layout {
    padding: 60px 80px;

    .current-course {
      text-align: -webkit-center;
      .react-player {
        width: 888px !important;
        height: 550px !important;
      }
    }

    .header {
      text-align: center;
      color: #2e3192;
      font-weight: 600;
      margin: 0px 0px 20px 0px;
    }

    p {
      color: #6d7278;
      font-weight: 600;
      margin-top: 30px;
      //text-align: center;
      max-height: 300px;
    }
  }
  
  .section-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    div {
      padding: 40px 20px 40px 20px;
    }
    img {
      width: 163px;
      height: 77px;
    }
  }

  .section-4 {
    text-align: center;
  }
}

@media only screen and (max-width: 414px) {
  #courseDetail {
    .layout {
      padding: 40px 25px !important;

      .section-3 {
        justify-content: center !important;
      }

      .current-course {
        .react-player {
          width: 250px !important;
          height: 200px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  #courseDetail {
    .section-3 {
      div {
        padding: 20px 10px !important;
        justify-content: center !important;
      }
    }
  }
}

@media only screen and (min-width: 770px) and (max-width: 1022px) {
  #courseDetail {
    .layout {
      .current-course {
        .react-player {
          width: 478px !important;
          height: 400px !important;
        }
      }
    }
  }
}