#paidUserCurrentCourse {
  .adminPortalCurrent {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("./../../../../images/header-image.jpg");
    width: 100%;
    height: 182px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    h2 {
      text-align: center;
    }
  }
  .header {
    text-align: center;
    color: #2e3192;
    font-weight: 600;
  }
  .current-course {
    text-align: -webkit-center;
    margin-top: 20px;
    .react-player {
      width: 1000px !important;
      height: 565px !important;
    }
  }

  .select--container {
    position: absolute;
    right: 35px;
    top: calc(182px + 76px + 20px + 10px);
  }
}

@media only screen and (max-width: 411px) {
  #paidUserCurrentCourse {
    .current-course {
      text-align: -webkit-center;
      .react-player {
        width: 250px !important;
        height: 200px !important;
      }
    }
  }
}