.layout {
  padding: 60px 35px;
}

@media only screen and (max-width: 411px) {
  .layout {
    padding: 40px 25px;
  }
}

@media only screen and (min-width: 770px) and (max-width: 1022px) {
  .layout {
    padding: 40px 35px;
  }
}