#courseList {
  .course-list-header {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //background-image: url("./../../../../images/header-image.jpg");
    width: 100%;
    height: 182px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    h2 {
      text-align: center;
    }
  }

  .content {
    //display: flex;
    //flex-wrap: wrap;
    //padding: 0px 10%;
    // justify-content: space-between;
    // align-items: center;
    text-align: -webkit-center;
    .course {
      display: inline-block;
      width: 50%;
      text-align: -webkit-center;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    .player-image {
      //background: #d8d8d8;
      // width: 240px;
      // height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 240px;
        height: 200px;
      }
    }

    .title {
      color: #2e3192;
      font-weight: 600;
      margin-top: 32px;
      height: 50px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .course-brief-detail {
      color: #6d7278;
      margin: 32px 0px;
      font-weight: 600;
      height: 80px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 694px) {
  #courseList {
    .content {
      padding: 0px;
      .course {
        width: 100%;
        display: block;
      }

      .course-brief-detail {
        height: 100px;
        max-height: 100px;
      }
    }
  }
}