#pageHeader {
  height: 76px;
  background: #faf9f9;
  .logo {
    padding: 8px 30px 8px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 343px;
      height: 60px;
    }

    span {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 411px) {
  #pageHeader {
    .logo {
      padding: 8px 15px 8px 15px;
      img {
        width: 230px;
        height: 48px;
      }
    }
  }
}