#signup {
  padding: 8.5% 49px;
  box-shadow: 0 2px 28px -5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form {
    width: 100%;
    margin: 20px 0px;
    P.error {
      color: red;
      font-size: 12px;
    }
    label {
      margin-right: 20px;
      cursor: pointer;
    }

    input[type="checkbox"] {
      margin-right: 10px;
    }
  }

  // form {
  //   width: 100%;

  //   label {
  //     margin-right: 20px;
  //     cursor: pointer;
  //   }

  //   input[type="checkbox"] {
  //     margin-right: 10px;
  //   }
  // }
}