@function px($size) {
  @return $size/1.4 * 1px;
}

/* Font families */

$font-OpenSans: "Open Sans", sans-serif;


/* Texts  */
/* os - Open Sans */

.os {
  font-family: $font-OpenSans;
}

.os {
  &.s0 {
    font-size: px(52);
  }
  &.s1 {
    font-size: px(52);
  }
  &.s2 {
    font-size: px(46);
  }
  &.s3 {
    font-size: px(26);
  }
  &.s4 {
    font-size: px(45);
  }
  &.s5 {
    font-size: px(31);
  }
  &.s6 {
    font-size: px(21);
  }
  &.s7 {
    font-size: px(18);
  }
  &.s8 {
    font-size: px(16);
  }
}

// .os {
//   &.s0 {
//     font-size: px(36);
//   }
//   &.s1 {
//     font-size: px(32);
//   }
//   &.s2 {
//     font-size: px(30);
//   }
//   &.s3 {
//     font-size: px(28);
//   }
//   &.s4 {
//     font-size: px(26);
//   }
//   &.s5 {
//     font-size: px(24);
//   }
//   &.s6 {
//     font-size: px(22);
//   }
//   &.s7 {
//     font-size: px(20);
//   }
//   &.s8 {
//     font-size: px(18);
//   }
//   &.s9 {
//     font-size: px(16);
//   }
//   &.s10 {
//     font-size: px(14);
//   }
// }

@media only screen and (max-width: 640px) {
  .os {
    // &.s0 {
    //   font-size: 20px;
    // }
    &.s1 {
      font-size: 14px;
    }
    &.s2 {
      font-size: 16px;
    }
    &.s3 {
      font-size: 14px;
    }
  }
}