input[type='text'], input[type='password'], input[type='number'], input[type='date'] {
  width: 100%;
  height: 40px;
  background-color: rgba(61, 112, 178, 0.1) !important;
  border: 0;
  padding: 0 10px;
  color: #222;
  font-size: 14px;
  &:focus {
    outline: 0;
  }
}

input[type='date'] {
  padding: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

.form-group:not(:last-child) {
  margin-bottom: 20px;
}

.error-message {
  color: #ff3b34;
  font-size: 14px;
  margin-bottom: 20px;
}
