#footer {
  padding: 30px 20%;
  background: #2e2e2e;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    text-decoration: none;
    color: #fff;
  }

  ul {
    list-style-type: none;
    li {
      float: left;
      padding: 0 16px;
      font-weight: 600;
    }
    margin-bottom: 10px;
  }

  p {
    color: #fff;
    text-align: center;
  }

  .social-media-icons {
    display: flex;
    align-items: center;
    margin: 20px 0;
    a {
      margin-right: 20px;
    }
  }
}

@media only screen and (max-width: 411px) {
  #footer {
    padding: 30px 5%;

    ul {
      li {
        padding: 0 4px;
      }
    }

    .social-media-icons {
      a {
        margin-right: 10px;
      }
    }
  }
}