@import "./../../../sass/components/base.scss";

#SignIn {
  padding: 8.5% 49px;
  box-shadow: 0 2px 28px -5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  .seperator {
    text-align:center;
    position:relative;
    z-index:2;
    width: 100%;

    .line-center {
      margin:0;padding:0 10px;
      background:#fff;
      display:inline-block;
    }

    &::after{
      content:"";
      position:absolute;
      top:50%;
      left:0;
      right:0;
      border-top:solid 1px #E7EDFF;
      z-index:-1;
    }
  }

  .form {
    margin: 20px 0px;
  }

  form {
    width: 100%;
  }

  P {
    margin-top: 10px;
  }

  .button-grp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      cursor: pointer;
      font-weight: 600;
    }
  }

  .button-grp.signup {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 560px) {
  #SignIn {
    height: 100vh;
    border-radius: 0px;
    padding: 8.5% 25px;
  }
}